.update_personal_container {
  display: flex;
  flex-direction: column;
}

.update_personal_container > h2 {
  font-size: 22px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8fafc;
  border-radius: 0px;
  padding: 10px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 2px 10px;
}

.button {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
  cursor: pointer;
  font-family: 'Poppins';

  background: linear-gradient(
    180deg,
    #6599ae 0%,
    rgba(163, 213, 217, 0.97) 100%
  );
  mix-blend-mode: normal;
  border-radius: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}

.button:hover {
  background: #6599ae;
}

.button:disabled {
  background: #dddddd;
  cursor: default;
}
