.update__personal__container {
  display: flex;
  flex-direction: column;
}

.form__container {
  margin-bottom: 10px;
}

.line {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 62px;
  height: 0px;
  border: 2px solid #89c5cc;
}

@media (max-width: 1025px) {
  .update__personal__container {
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .update__personal__container {
    margin-top: 0;
  }
}
