.update__password__container {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.current__pass__container {
  margin-bottom: 10px;
}

.line {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 62px;
  height: 0px;
  border: 2px solid #89c5cc;
}

@media (max-width: 450px) {
  .form__container {
    display: flex;
    width: 100%;
  }
  .update__password__container {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
