.update__username__container {
  display: flex;
  flex-direction: column;
}

.update__username__container > h3 {
  font-size: 22px;
}

.form__container {
  display: flex;
  flex-direction: column;
  /* width: 325px; */
}

.input {
  margin-bottom: 10px;
}

.line {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 62px;
  height: 0px;
  border: 2px solid #89c5cc;
}

/* .button {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border: 0;
  cursor: pointer;
  font-family: 'Poppins';

  border-radius: 20px;
  background: #6599ae;
  mix-blend-mode: normal;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;

  color: #ffffff;
}

.button:hover {
  background: #00587a;
}

.button:disabled {
  background: #dddddd;
  cursor: default;
} */

@media (max-width: 1024px) {
  .form__container {
    display: flex;
    width: 100%;
  }
}
