.comp__app {
  display: flex;
  flex-direction: column;
}

.update__comp__container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.update__comp__container > div {
  flex: 1;
}
