.landing__container {
  display: flex;
  flex-direction: column;
}

.boks {
  margin-top: 7px;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .allboks {
    flex-direction: column;
  }
}
