.comparation__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.line {
  margin-top: 5px;
  width: 62px;
  height: 0px;
  border: 2px solid #89c5cc;
  margin-bottom: 10px;
}

.comparation__container > h1 {
  font-size: 24px;

  color: #000000;
}

.input__container > h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: black;
}

.input__container {
  margin-left: 40px;
}

.wolf__container {
  margin-top: 65px;
}

.wolfram__container {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.wolf__container > h1 {
  font-size: 24px;

  color: #000000;
}

.wolfram__container > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  text-align: center;

  color: #524d4d;
}

.flex__row {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.flex__row > div > h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: black;
}

.flex__row > div > input {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #524d4d;
}

.pdam__container {
  margin-left: 40px;
}

.comparation__form {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 19px;
  font-weight: bold;
  margin-top: 5px;

  color: #000000;
}

.wolfram__form {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.wolfram__year {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;

  color: #524d4d;
}

.land__container {
  align-items: flex-end;
  /* text-align: right; */
  /* margin-left: 50px; */
}

.compar__img {
  position: absolute;
  width: 40%;
  opacity: 40%;
  z-index: -1;
  margin-top: -70px;
  margin-left: 38%;
}

.icon__wolf__img {
  width: 50px;
  height: 50px;
  margin-right: 7px;
}

@media only screen and (max-width: 400px) {
  .wolfram__container {
    margin-left: 0;
  }
  .input__container {
    margin-left: 0;
  }
  .compar__img {
    display: none;
  }
}
