.allboks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7px;
}

.boks {
  margin-right: 30px;
}

@media only screen and (max-width: 400px) {
  .allboks {
    flex-direction: column;
  }
}
