.img__container {
  display: flex;
  flex-direction: column;
}

.img__container > h3 {
  color: #6599ae;
}

.img__container > p {
  margin-left: 30px;
  margin-bottom: 17px;
}

.line {
  margin-top: 5px;
  width: 62px;
  height: 0px;
  border: 2px solid #89c5cc;
  margin-bottom: 10px;
}

.img__container > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;

  color: #000000;
}

.input__images {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;

  color: #000000;
  background: #89c5cc;
}

.error__con {
  margin-left: 30px;
}

.preview__container {
  display: flex;
  flex: wrap;
}

.singlepreview {
  width: 20%;
  background: #ffffff;
  border: 2px solid #a3a3a3;
  box-sizing: border-box;
  text-align: justify;
  margin: 20px 10px 0 30px;
  padding: 10px;
  border-radius: 10px;
}

.text__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 30px;
}

.textfield__container {
  flex: 3;
  margin-right: 20px;
  margin-top: 20px;
}

.button__container {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.form > div {
  align-items: center;
}

@media only screen and (max-width: 420px) {
  .singlepreview {
    width: 20%;
    margin: 20px 20px 0 0px;
  }

  .preview__container {
    margin-left: 30px;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .img__container > p {
    margin-left: 0px;
  }

  .input__images {
    margin-left: 0px;
  }

  .form > div {
    align-items: flex-start;
  }

  .preview__container {
    width: 100%;
    display: flex;
    /* flex: wrap; */
    margin: 0;
  }

  .singlepreview {
    flex: 6;
    /* width: 45%; */
    background: #ffffff;
    border: 2px solid #a3a3a3;
    box-sizing: border-box;
    text-align: justify;
    /* margin: 20px 10px 0 30px; */
    padding: 10px;
    border-radius: 10px;
  }

  .error__con {
    margin-left: 0px;
  }
}
