.img__container {
  display: flex;
  flex-direction: column;
}

.img__container > h3 {
  color: #6599ae;
}

.line {
  margin-top: 5px;
  width: 62px;
  height: 0px;
  border: 2px solid #89c5cc;
  margin-bottom: 10px;
}

.img__container > p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;

  color: #000000;
}

.text__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 30px;
}

.textfield__container {
  flex: 3;
  margin-right: 20px;
  margin-top: 20px;
}

.button__container {
  align-self: center;
  margin-top: 50px;
}
