.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  background: #efefef;
}

.login__container {
  width: 80%;
  height: 80%;
  margin: auto;

  display: flex;
  flex-direction: row;

  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.left__container {
  flex: 6;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  margin: 21px 40px 5% 40px;
}

.menu__masuk {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-right: 17px;

  color: #6599ae;
}

.menu__daftar {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;

  color: #818181;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0px 51px 0px 51px;
}

.form > label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 2px;

  color: rgba(0, 0, 0, 0.5);
}

.form > button {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: 'Poppins';

  background: linear-gradient(
    180deg,
    #6599ae 0%,
    rgba(163, 213, 217, 0.97) 100%
  );
  mix-blend-mode: normal;
  border-radius: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}

.form > button > img {
  width: 25px;
  height: 25px;
  display: flex;
  margin: 0 auto;
}

.form > button:hover {
  background: #6599ae;
}

.form > button:disabled {
  background: #dddddd;
  cursor: default;
}

.form > a {
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #6599ae;
}

.right__container {
  display: flex;
  flex: 6;

  flex-direction: column;
  justify-content: center;

  background: linear-gradient(
    180deg,
    rgba(163, 213, 217, 0.97) 38.02%,
    rgba(163, 213, 217, 0) 100%
  );
  border-radius: 0px 10px 10px 0px;
}

.right__container > img {
  height: auto;
  width: 90%;
  margin: 0 auto;
}

.right__container > p {
  font-family: Poppins;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 11px;

  color: #ffffff;
}

@media only screen and (max-width: 966px) {
  .right__container {
    display: none;
  }
}

@media only screen and (max-width: 436px) {
  .right__container {
    display: none;
  }

  .backdrop {
    width: 100%;
    height: 100%;
  }

  .login__container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
